# Ignored files
db.sqlite3
server.log
*.log
__pycache__/
venv/
.DS_Store
.env

# Python
*.pyc
*.pyo
*.pyd

# Django
/static/
/staticfiles/

# Node.js
node_modules/
package-lock.json

# macOS
.Trashes
.Spotlight-V100
.TemporaryItems
.fseventsd

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN
nul